.choice-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
    z-index: 1;
}
.platforms{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width:60%;
}
.platforms h1{
    color: #2e2e2e;
    font-size: 1.7rem;
    font-family: 'PT Sans', sans-serif;
}
.platforms h1:hover{
    cursor: pointer;
    text-decoration: underline;
}
#selected
{
    color: #30a189;
}